

img{
  width: 320px;
  height: 250px;
  border-radius: 10px;
}
button{
  padding: 8px;
  display: block;
}

.block{
  border-color: rgb(77, 75, 75);
  border-style: solid;
  border-radius: 10px;
  width: 25%;
  margin-left: 40%;
  margin-top: 8%;
}
